input {
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 2px;
    border: #379eff;
}
input[type=text] {
    width: 70%;
}
input[type=text]:focus {
    background-color: #e9b34f;
    
}

input[type=submit] {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    box-shadow: 0 2px 25px rgba(232, 97, 34, 0.5);
    text-transform: uppercase;
    border-radius: 4px;
};
